/* 루트 요소 */

/* font-family : 글꼴 지정 */
body {
  font-family: 'Pretendard Variable';
  font-family: 'SUIT', sans-serif;
  font-size: 24px;
}

h1 {
  font-size: 1.5em;
}

/* font 관련 속성 - 크기, 굵기, 기울임 */
.size {
  font-size: 20px;
  font-weight: 300;
  line-height: 150%; /*줄 간격 */
  font-style: italic;
  font-variant: small-caps; /* 작은 대문자 */
  font-family: 'pretendard variable', sans-serif;
  /* font: 1.5rem 'pretendad variable'; */
}
/* 단위 
  -rem : 루트 요소의 단위를 따라감
  - em : 상속한 부모의 단위를 따라감 */
