@import '/src/common/theme.css';

html,
body {
  font-family: 'SUIT', sans-serif;
}

body *,
body *::before,
body *::after {
  box-sizing: border-box;
}
/* flex 파헤치기 */

/* flex container 속성 */
/* flex-direction */
/* flex-wrap  */
/* flex-flow */
/* justfy-content */
/* align-item */
/* align-around */
/* align-content */
/* gap, row-gap, column-gap */
.case-01 {
  display: flex;
  /* flex-direction: row;
  flex-wrap: nowrap; */

  /* flex-direction, flex-wrap 숏핸드 표기법 */
  flex-flow: row wrap;

  /* justify-content는 flex-direction의 방향에 따라 item을 정렬함 */
  justify-content: center;
  align-items: baseline;
  align-content: center;

  border: 1px solid red;
  /* padding: 10px; */
  inline-size: 622px;
  block-size: 522px;
  /* row-gap, column-gap을 함께 지절할 수 있는 숏핸드 속성 */
  gap: 20px 40px;

  [class*='item'] {
    /* margin-block: 10px; */
    border: 1px solid currentColor;
    background: var(--pastel-yellow);
    /* inline-size: 100px;
    block-size: 100px; */
    text-align: center;
    align-content: center;
  }

  .item1 {
    /* inline-size: 200px; */
    font-size: 48px;
  }

  .item2 {
    font-size: 30px;
  }
}

/* flex item 관련 속성 */

/* flex-basis */
.case-02 {
  border: 1px solid green;
  inline-size: 502px;
  display: flex;
  flex-flow: row nowrap;
  [class^='item'] {
    border: 1px solid currentColor;
    /* width: 100px;
    inline-size: 100px;
    height: 100px;
    block-size: 100px; */
    text-align: center;
    align-content: center;
    /* flex-grow, flex-shrink, flex-basis 숏핸드 표기법 */
    flex: 0 1 150px;

    /* flex-basis */
    /* flex-basis가 auto가 아닌 경우 width, heigh보다 우선순위에 있음 */
    flex-basis: 0;

    /* flex-grow */
    flex-grow: 1;

    /* order */
    &:nth-child(even) {
      order: -1;
      /* flex-grow: 2; */
    }
  }
}
