@import '/src/common/modern-reset.css';
@import '/src/common/theme.css';
@import '/src/common/a11y.css';
@import '/src/common/base.css';
@import '/src/ui/components/button/button.css';

:root {
  color-scheme: light dark;
}

body {
  margin: 20px;
  background: light-dark(#fff, #000);
  color: light-dark(#000, #fff);
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17.5rem, 1fr));
  grid-auto-rows: 18.75rem;
  gap: 1.25rem;
}

.case {
  border: 1px solid light-dark(#000, #fff);
  padding: 2.5rem;

  button {
    border-radius: 0.5rem;
    padding: 0.5rem 1em;
  }

  .toggle-animation {
    background-color: #4263eb;
    color: white;
  }

  .toggle-animation.paused {
    background-color: #e03131;
  }

  .reset-animation {
    background-color: #15aabf;
    color: white;
  }

  .target-animation {
    margin-top: 2.5rem;
    margin-block-start: 2.5rem;
    font-size: 2rem;
    text-align: center;
    align-content: center;
    padding: 0.625rem;
    border-radius: 0.5rem;
    color: #fff;
    background: linear-gradient(135deg, #37b24d, #2b8a3e);
  }
}

/* fade 애니메이션 */
@keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.case-01 .target-animation {
  animation-name: fade;
}
