@import '/src/common/modern-reset.css';
@import '/src/common/theme.css';
@import '/src/common/a11y.css';
@import '/src/common/base.css';

body {
  margin-bottom: 30px;
  padding: 20px;

  h1 {
    padding-bottom: 40px;
  }
}

.css-style-list {
  display: grid;
  position: relative;
  align-items: start;
  border: 1px solid black;
  padding: 20px;
  margin-bottom: 20px;

  ul {
    columns: 4;
    margin: 10px;
    column-rule: 1px solid black;
  }

  h2 {
    position: absolute;
    top: -12px;
    left: 15px;
    padding: 0 10px;
    font-size: 1.5em;
    font-weight: bold;
    background: white;
  }
}

.html-markup-list {
  display: grid;
  position: relative;
  align-items: start;
  border: 1px solid black;
  padding: 20px;
  margin-bottom: 20px;

  ul {
    columns: 4 auto;
    margin: 10px;
    column-rule: 1px solid black;
  }

  h2 {
    position: absolute;
    top: -12px;
    left: 15px;
    padding: 0, 10px;
    font-size: 1.5em;
    font-weight: bold;
    background: white;
  }
}

.ui-test-list {
  display: grid;
  align-items: start;
  position: relative;
  border: 1px solid black;
  padding: 20px;
  margin-bottom: 20px;

  ul {
    columns: 4;
    column-rule: 1px solid black;
    margin: 10px;
  }

  h2 {
    position: absolute;
    left: 15px;
    top: -12px;
    padding: 0, 10px;
    font-size: 1.5em;
    font-weight: bold;
    background: white;
  }
}

.components-list {
  display: grid;
  position: relative;
  align-content: start;
  border: 1px solid black;
  padding: 20px;
  margin-top: 20px;

  ul {
    columns: 4;
    column-rule: 1px solid black;
    margin: 10px;
  }

  h2 {
    position: absolute;
    top: -12px;
    left: 9px;
    padding: 0 10px;
    font-size: 1.5em;
    background: white;
  }
}
